.container-login {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: crimson;
  .left {
    background-color: red;
    width: 50%;
  }

  .right {
    background-color: blue;
    width: 50%;
  }
}
