.list-container {
  align-items: center;
  background-color: darkred;
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  min-width: 75%;
  justify-content: space-between;
  margin: 10px;
  padding: 5px;

  animation-name: apearCart;
  animation-duration: 0.7s;

  .list-img {
    align-items: center;
    background-color: aqua;
    display: flex;
    flex: 6 10%;
  }

  .list-icon {
    background-color: red;
    display: flex;
    flex: 2;
    justify-content: space-around;
  }

  .list-price {
    display: flex;
    background-color: aqua;
    flex: 2;
    justify-content: center;
  }
}

@keyframes apearCart {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
