.card-container {
    margin: 1rem;
    border: 1px solid black;
    border-radius: 1rem;
    padding: var(--space-2xs);
    background-color: #fff;

    //width: clamp(200px, 250px, 300px);

    .card-img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-title {
        align-items: flex-end;
        display: flex;
        justify-content: space-between;

        button {
            background-color: #003667;
            color: white;
            //padding: 5px 5px;
            //border-radius: .5rem;
            transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
            border: none;
            min-width: 34%;
            //margin: 1rem 1rem 0;
            //border: 1px solid black;
            border-radius: .5rem;
            padding: 5px;

            cursor: pointer;
        }

        .card-title-left {
            width: 66%;
            height: 100%;

        }

        .card-title-right {
            width: 34%;
            height: 100%;
            display: flex;
            justify-content: center;
        }

        .card-name {
            //background-color: red;
            display: flex;
            align-items: center;
            min-height: 2em;
        }

        .card-cantidad {
            display: flex;
        }

        /* .card-price {
            //background-color: aquamarine;
        } */

        .card-icon {
            background-color: #0a0a23;
            color: #fff;
            border: none;
            border-radius: .5rem;
            margin: .5rem;
            padding: .5rem;

            /* min-height: 30px;
            min-width: 120px; */
            &:hover {
                background-color: #002ead;
                transition: 0.7s;
            }

            &:focus {
                outline-color: transparent;
                outline-style: solid;
                box-shadow: 0 0 0 4px #5a01a7;
                transition: 0.7s;
            }
        }
    }
}