.cashier {
  background-color: #002c5d;
  display: flex;
  height: 100%;

  .cashier-left {
    background-color: #002c5d;
    height: 100%;
    width: 70%;

    .vacio {
      align-items: center;
      color: white;
      display: flex;
      font-size: var(--step-1);
      font-weight: bold;
      height: 70vh;
      justify-content: center;

      p {
        &:hover {
          opacity: 50%;
          transition: 1s;
        }
      }
    }

    .navbar {
      background-color: #f2f2f2;
      border: none;
      display: flex;
      font-weight: bold;
      height: 50px;
      justify-content: space-between;
      left: 0;
      position: sticky;
      top: 0;

      .button-title {
        align-items: center;
        justify-content: start;
        display: flex;

        .title {
          padding: .5rem;
        }
      }

      .title {
        padding: .5rem;
      }
    }

    .navbar-categories {
      background-color: #002c5d;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 1fr
            /* 120px */
          ));
      left: 0;
      position: sticky;
      top: 50px;

      button {
        border: none;
        border-radius: 0.5rem;
        margin: 1rem .5rem .5rem;
        padding: 0.5rem;
        cursor: pointer;
        //width: clamp(80px, 100px, 120px);
      }
    }


    .card-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
  }

  //.16666666667

  .cashier-right {
    background-color: #003667;
    height: 100vh;
    position: sticky;
    right: 0;
    top: 0;
    width: 30%;

    .list-wrapper {
      height: 70vh;
      overflow: auto;

      .vacio {
        align-items: center;
        color: white;
        display: flex;
        font-size: var(--step-1);
        font-weight: bold;
        height: 70vh;
        justify-content: center;

        p {
          &:hover {
            opacity: 50%;
            transition: 1s;
          }
        }
      }
    }

    .list-amount {
      align-items: center;
      background-color: #002253;
      color: white;
      display: flex;
      justify-content: center;
      height: 30vh;
      overflow: auto;

      button {
        background-color: #f2f2f2;
        border: none;
        border-radius: 1rem;
        color: #003667;
        font-size: var(--step--1);
        padding: 0.5rem;
        transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
        width: 50%;
        cursor: pointer;
      }

      .list-amount-contenido-left {
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 50%;

        .grid-left {
          align-items: center;
          display: flex;
          height: 1.5rem;
          justify-content: end;
          margin: 0.5rem;
          padding: 0;
          width: 80%;

          button {
            border: none;
            border-radius: 0.5rem;
            font-weight: bold;
            margin: 1rem 1rem;
            padding: 0.5rem;
            //width: clamp(80px, 100px, 120px);
            cursor: pointer;

            &:hover {
              opacity: 80%;
            }
          }
        }
      }

      .list-amount-contenido {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        width: 50%;

        .grid {
          align-items: center;
          display: flex;
          height: 1.5rem;
          justify-content: start;
          margin: 0.5rem;
          padding: 0;
          width: 80%;

          button {
            border: none;
            border-radius: 0.5rem;
            font-weight: bold;
            margin: 1rem 1rem;
            padding: 0.5rem;
            //width: clamp(80px, 100px, 120px);
            cursor: pointer;

            &:hover {
              opacity: 80%;
            }
          }
        }

        input {
          background-color: #003667;
          border: none;
          border-radius: 5px;
          color: white;
          font-family: "Raleway", sans-serif;
          font-size: var(--step-0);
          text-align: start;
          width: 50%;
        }

        // Chrome, Safari, Edge, Opera
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        // Firefox
        input[type="number"] {
          -moz-appearance: textfield;
        }
      }
    }
  }
}