.cashier {
  background-color: red;
  display: flex;

  //height: 100vh;
  .cashier-left {
    background-color: #f2f2f2;
    height: 100vh;
    width: 70%;

    .navbar {
      display: flex;
      justify-content: space-between;
      font-weight: bold;
      height: 50px;
      //background-color: aqua;

      .title {
        padding: 1rem;
      }
    }

    .navbar-categories {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(80px, 120px));
      background-color: #002C5D;

      button {
        margin: 1rem 1rem;
        border: none;
        //border: 1px solid white;
        border-radius: .5rem;
        padding: .5rem;
        //width: clamp(80px, 100px, 120px);
      }
    }

    .card-wrapper {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    }
  }

  //.16666666667

  .cashier-right {
    background-color: #003667;
    height: 100vh;
    width: 30%;

    .list-wrapper {
      height: 70vh;
      overflow-y: scroll;

      .vacio {
        align-items: center;
        color: white;
        display: flex;
        font-size: var(--step-1);
        font-weight: bold;
        height: 70vh;
        justify-content: center;

        p {
          &:hover {
            opacity: 50%;
            transition: 1s;
          }
        }
      }

    }

    .list-amount {
      color: white;
      background-color: #002C5D;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30vh;

      button {
        background-color: #f2f2f2;
        border: none;
        color: #003667;
        font-size: var(--step--1);
        //padding: 5px 5px;
        //border-radius: .5rem;
        transition: all .15s cubic-bezier(0.4, 0, 0.2, 1);
        width: 50%;
        //min-width: 34%;
        //margin: 10px 10px 0;
        //border: 1px solid black;
        border-radius: 1rem;
        padding: .5rem;

        cursor: pointer;
      }

      .list-amount-contenido-left {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 50%;
        height: 100%;

        .grid-left {
          display: flex;
          align-items: center;
          justify-content: end;
          margin: .5rem;
          padding: 0;
          height: 1.5rem;
          width: 50%;
        }
      }

      .list-amount-contenido {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 50%;
        height: 100%;



        .grid {
          display: flex;
          align-items: center;
          justify-content: start;
          margin: .5rem;
          padding: 0;
          height: 1.5rem;
          width: 50%;
        }


        input {
          background-color: #003667;
          //margin: var(--space-2xs);
          //border: 2px solid white;
          border: none;
          border-radius: 5px;
          color: white;
          text-align: start;
          width: 50%;
          font-size: var(--step-0);
          font-family: "Raleway", sans-serif;
        }

        // Chrome, Safari, Edge, Opera 
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        // Firefox 
        input[type=number] {
          -moz-appearance: textfield;
        }



      }
    }
  }
}