.sidebar {
  background-color: white;
  border-right: 0.5px solid #888;
  flex: 1;
  height: 100vh;

  /*   left: 0;
  position: sticky;
  top: 0; */

  .top {
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;

    .logo {
      color: midnightblue;
      font-size: 20px;
      font-weight: bold;
    }
  }

  hr {
    border: 0.5px solid #888;
    height: 0;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        color: #888;
        font-size: 10px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        align-items: center;
        display: flex;
        padding: 5px;
        cursor: pointer;

        &:hover {
          background-color: #ece8ff;
        }

        .icon {
          color: #888;
          font-size: 18px;
        }

        span {
          color: midnightblue;
          font-size: 13px;
          font-weight: 600;
          margin-left: 10px;
        }
      }
    }
  }
}
