/* :root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
 */

/* @link https://utopia.fyi/type/calculator?c=320,12,1.2,1920,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  //Fuentes
  --step--2: clamp(0.52rem, calc(0.48rem + 0.20vw), 0.72rem);
  --step--1: clamp(0.63rem, calc(0.57rem + 0.28vw), 0.90rem);
  --step-0: clamp(0.75rem, calc(0.68rem + 0.38vw), 1.13rem);
  --step-1: clamp(0.90rem, calc(0.80rem + 0.51vw), 1.41rem);
  --step-2: clamp(1.08rem, calc(0.94rem + 0.68vw), 1.76rem);
  --step-3: clamp(1.30rem, calc(1.12rem + 0.90vw), 2.20rem);
  --step-4: clamp(1.56rem, calc(1.32rem + 1.19vw), 2.75rem);
  --step-5: clamp(1.87rem, calc(1.55rem + 1.57vw), 3.43rem);

  //Espaciado
  --space-3xs: clamp(0.31rem, calc(0.34rem + -0.12vw), 0.19rem);
  --space-2xs: clamp(0.56rem, calc(0.60rem + -0.19vw), 0.38rem);
  --space-xs: clamp(0.88rem, calc(0.94rem + -0.31vw), 0.56rem);
  --space-s: clamp(1.13rem, calc(1.20rem + -0.37vw), 0.75rem);
  --space-m: clamp(1.69rem, calc(1.80rem + -0.56vw), 1.13rem);
  --space-l: clamp(2.25rem, calc(2.40rem + -0.75vw), 1.50rem);
  --space-xl: clamp(3.38rem, calc(3.60rem + -1.12vw), 2.25rem);
  --space-2xl: clamp(4.50rem, calc(4.80rem + -1.50vw), 3.00rem);
  --space-3xl: clamp(6.75rem, calc(7.20rem + -2.25vw), 4.50rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.30rem + 0.06vw), 0.38rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.56rem + 0.00vw), 0.56rem);
  --space-xs-s: clamp(0.88rem, calc(0.90rem + -0.12vw), 0.75rem);
  --space-s-m: clamp(1.13rem, calc(1.13rem + 0.00vw), 1.13rem);
  --space-m-l: clamp(1.69rem, calc(1.73rem + -0.19vw), 1.50rem);
  --space-l-xl: clamp(2.25rem, calc(2.25rem + 0.00vw), 2.25rem);
  --space-xl-2xl: clamp(3.38rem, calc(3.45rem + -0.37vw), 3.00rem);
  --space-2xl-3xl: clamp(4.50rem, calc(4.50rem + 0.00vw), 4.50rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(1.05rem + 0.38vw), 1.50rem);
}

html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Raleway", sans-serif;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: calc(12px + (18 - 12) * ((100vw - 320px)/(1920 - 320)));
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

.step--2 {
  font-size: var(--step--2);
}

.step--1 {
  font-size: var(--step--1);
}

.step-0 {
  font-size: var(--step-0);
}

.step-1 {
  font-size: var(--step-1);
}

.step-2 {
  font-size: var(--step-2);
}

.step-3 {
  font-size: var(--step-3);
}

.step-4 {
  font-size: var(--step-4);
}

.step-5 {
  font-size: var(--step-5);
}

//CONTENIDO DE App.css

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 */